<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Anton_MyBlog>
            <version>1.0.0</version>
        </Anton_MyBlog>
    </modules>
    <frontend>
        <routers>
            <myblog>
                <use>standard</use>
                <args>
                    <module>Anton_MyBlog</module>
                    <frontName>blog</frontName>
                </args>
            </myblog>
        </routers>
        <layout>
            <updates>
                <myblog>
                    <file>myblog.xml</file>
                </myblog>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <myblog>
                <class>Anton_MyBlog_Block</class>
            </myblog>
        </blocks>
        <models>
            <myblog>
                <class>Anton_MyBlog_Model</class>
                <resourceModel>myblog_resource</resourceModel>
            </myblog>
            <myblog_resource>
                <class>Anton_MyBlog_Model_Resource</class>
                <entities>
                    <post>
                        <table>myblog_post</table>
                    </post>
                    <category>
                        <table>myblog_category</table>
                    </category>
                </entities>
            </myblog_resource>
        </models>
        <resources>
            <myblog_setup>
                <setup>
                    <module>Anton_MyBlog</module>
                </setup>
            </myblog_setup>
        </resources>
        <helpers>
            <myblog>
                <class>Anton_MyBlog_Helper</class>
            </myblog>
        </helpers>
    </global>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <anton_myblog before="Mage_Adminhtml">Anton_MyBlog_Adminhtml</anton_myblog>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>