<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Anton_HelloWorld>
            <version>1.0.0</version>
        </Anton_HelloWorld>
    </modules>
    <frontend>
        <routers>
            <helloworld>
                <use>standard</use>
                <args>
                    <module>Anton_HelloWorld</module>
                    <frontName>magetalk</frontName>
                </args>
            </helloworld>
        </routers>
        <layout>
            <updates>
                <helloworld>
                    <file>helloworld.xml</file>
                </helloworld>
            </updates>
        </layout>
    </frontend>

    <global>
        <blocks>
            <helloworld>
                <class>Anton_HelloWorld_Block</class>
            </helloworld>
        </blocks>
        <models>
            <helloworld>
                <class>Anton_HelloWorld_Model</class>
                <resourceModel>helloworld_resource</resourceModel>
            </helloworld>
            <helloworld_resource>
                <class>Anton_HelloWorld_Model_Resource</class>
                <entities>
                    <contact>
                        <table>ain_contact</table>
                    </contact>
                </entities>
            </helloworld_resource>
        </models>
        <helpers>
            <helloworld>
                <class>Anton_HelloWorld_Helper</class>
            </helloworld>
        </helpers>
    </global>
    
	<admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <helloworld before="Mage_Adminhtml">Anton_HelloWorld_Adminhtml</helloworld>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>